[submodule "contrib/CashUtil"]
	path = contrib/CashUtil
	url = https://github.com/CharlesHenryVIII/CashUtil.git
[submodule "contrib/sokol"]
	path = contrib/sokol
	url = https://github.com/floooh/sokol
